
*{
    margin:0px;
    padding:0px;
}
.intro {
    width:100%;
    margin-top: 50px;
}
.cat {
    width: 200px;
    display: block;
    margin:0px auto;
    margin-bottom: 300px;
}

.head {
    font-family: Arial;
    font-size: 45px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 160px;
}

.credits {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
}

.introo {
    margin-bottom: 200px;
}

.p2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.four {
    margin-bottom: 10px;
}

p {
    font-family: Arial;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 10px; 
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 150px;
   
}


.o {
    width: 1000px;
    display: block;
    margin:0px auto;
}

.rice {
    width: 1000px;
    display: block;
    margin:0px auto;
}

